In [17]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Eliminate duplicate data for demographics
purchase_data = purchase_data.drop_duplicates(subset = "SN") 

# Specify grouping on DF
genderData = purchase_data.groupby(["Gender"])

# Set overall total
overallTotal = genderData.count()

# Set total number of purchases
genderTotals = genderData["Purchase ID"].count()

# Sum totals
genderCount = genderTotals.sum()

# Create percentage
genderPercentage = ((100 * genderTotals / genderCount).round(2))

# Build DF
genderData = pd.DataFrame ({"Total Count" : genderTotals, 
                             "% of Players" : genderPercentage})
# Format and updata DF
genderData["% of Players"] = genderData["% of Players"].map("{:,.2f}%".format)

# Output result
genderData

                       Total Count % of Players
Gender
Female                          81       14.06%
Male                           484       84.03%
Other / Non-Disclosed           11        1.91%

In [19]:
groupedGender = purchase_data.groupby(['Gender'])
genderTotals = groupedGender["Purchase ID"].count()
#gender_summary.sum().head()
#count gives proper purchase count in solution. sum gives proper total purchase value in solution
uniqueItemIDs = groupedGender["Item ID"].count()
#unique_items
avg_purchase_price = groupedGender["Price"].mean()
#avg_purchase_price
total_value = groupedGender["Price"].sum()
#total_value
avg_total_purchase = total_value / genderTotals
#avg_total_purchase
purchase_analysis_gender = pd.DataFrame ({"Purchase Count" : uniqueItemIDs,
                                         "Average Purchase Price" : avg_purchase_price, 
                                         "Total Purchase Value" : total_value,
                                         "Avg Total Purchase per Person" : avg_total_purchase})
# Use Map to format all the columns
purchase_analysis_gender["Average Purchase Price"] = purchase_analysis_gender["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_gender["Total Purchase Value"] = purchase_analysis_gender["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis_gender["Avg Total Purchase per Person"] = purchase_analysis_gender["Avg Total Purchase per Person"].map("${:.2f}".format)
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,81,$3.17,$256.43,$3.17
Male,484,$3.05,$1474.70,$3.05
Other / Non-Disclosed,11,$3.41,$37.52,$3.41